<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" >
	<title>后台</title>

</head>
	<body>
		<!-- 导航 -->
		<div th:replace="admin/_fragments :: menu(1)"></div>
		<!-- 二级导航 -->
		<div class="ui attached pointing menu">
			<div class="ui container">
				<div class="right menu">
					<a th:href="@{/admin/blogs/input}" class="item">发布</a>
					<a th:href="@{/admin/blogs}" class="purple active item">列表</a>
				</div>
			</div>
		
		</div>
		
		<!-- 中间内容 -->
		<div class="m-container-small m-padded-tb-large">
			<div class="ui container">
				<form th:action="@{/admin/blogs/search}" method="post" class="ui secondary segment form">
					<div class="inline fields">
						<div class="field">
							<input type="text" name="title" placeholder="标题">
						</div>
						<div class="field">
							<div class="ui selection dropdown">
								<input type="hidden" name="typeId" >
								<i class="dropdown icon"></i>
								<div class="default text">分类</div>
								<!--menu是菜单-->
								<div class="menu">
									<div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}"></div>
								</div>
							</div>
						</div>
						<div class="field">
							<div class="ui checkbox">
								<input type="checkbox" id="recommend" name="recommend">
								<label for="recommend">推荐</label>
							</div>
						</div>
						<div class="field">
							<button class="ui mini teal basic button">
								<i class="search icon"></i>搜索
							</button>
						</div>
					</div>
				</form>
			
				<table class="ui compact teal table">
					<thead>
						<tr>
							<th>标题</th>
							<th>类型</th>
							<th>推荐</th>
							<th>更新时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
					<tr th:each="blog:${pageInfo.list}">
						<td th:text="${blog.getTitle()}">刻意练习清单</td>
						<td th:text="${blog.getType().name}">认知升级</td>
						<td th:text="${blog.getRecommend()==1?'是':'否'}">是</td>
						<td th:text="${#dates.format(blog.getUpdateTime(),'yyyy-MM-dd')}">2017-10-02 09:45</td>
						<td>
							<a href="#" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}" class="ui mini purple basic button">编辑</a>
							<a th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" onclick="return confirm('您确定要删除吗？')" class="ui mini red basic button">删除</a>
						</td>
					</tr>
					</tbody>
					<tfoot>
						<tr>
							<th colspan="6">
								<div class="ui menu pagination">
									<div class="item"><a th:href="@{/admin/blogs}">首页</a></div>
									<div class="item"><a th:href="@{/admin/blogs(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a></div>
									<div class="item"><a th:href="@{/admin/blogs(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a></div>
									<div class="item"><a th:href="@{/admin/blogs(pageNum=${pageInfo.pages})}">尾页</a></div>
								</div>
								<div class="ui segment m-inline-block">
									<p >当前第<span th:text="${pageInfo.pageNum}"></span>页，总<span th:text="${pageInfo.pages}"></span>页，共<span th:text="${pageInfo.total}"></span>条记录</p>
								</div>
								<a th:href="@{/admin/blogs/input}" class="ui mini right floated purple basic button">新增</a>
							</th>
						</tr>
					</tfoot>
								
				</table>
				
			</div>
		</div>

		
		<!-- 底部 -->
		<!-- 底部 -->
		<div  th:replace="admin/_fragments :: footer"></div>
		<script th:src="@{/js/jquery-3.4.1.min.js}" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
		<script th:src="@{/lib/prism/prism.js}"></script>
		<script th:src="@{/lib/tocbot/tocbot.js}"></script>
		<script >
			$('.menu.toggle').click(function(){
				$('.m-item').toggleClass('m-mobile-hide');
			});
			$('.ui.dropdown').dropdown({
				on: 'hover'
			});
            //消息提示关闭初始化
            $('.message .close')
                .on('click', function () {
                    $(this)
                        .closest('.message')
                        .transition('fade');
                });
		</script>
		
	</body>
</html>
