<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/common::head(~{::title})}">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" >
	<title>归档</title>

</head>
	<body>
		<!-- 导航 -->
		<div th:replace="~{commons/common::menu(1)}"></div>


		<!-- 中间内容 -->
		<div class="m-container-small m-padded-tb-large">
			<div class="ui container">
				<!-- Header -->
				<div class="ui top attached segment">
					<div class="ui middle aligned two column grid">
						<div class="column">
							<h3 class="ui teal header">归档</h3>
						</div>
						<div class="right aligned column">
							共<h2 class="ui orange header m-inline-blok m-text-thin">14</h2>篇
						</div>
					</div>
				</div>

				<h2 class="ui aligned center header">2020</h2>
					<div class="ui fluid vertical menu">
						<a href="" class="item" target="_blank">
							<span>
								<i class="mini teal circle icon"></i> 关于刻意练习的清单
								<div class="ui teal basic left pointing label m-text-thin m-padded-tb-mini">9月03</div>
							</span>
							<div class="ui orange basic left pointing label m-text-thin m-padded-tb-mini">原创</div>
						</a>
						<a href="" class="item" target="_blank">
							<span>
								<i class="mini teal circle icon"></i> 关于刻意练习的清单
								<div class="ui teal basic left pointing label m-text-thin m-padded-tb-mini">9月03</div>
							</span>
							<div class="ui orange basic left pointing label m-text-thin m-padded-tb-mini">原创</div>
						</a>
						<a href="" class="item" target="_blank">
							<span>
								<i class="mini teal circle icon"></i> 关于刻意练习的清单
								<div class="ui teal basic left pointing label m-text-thin m-padded-tb-mini">9月03</div>
							</span>
							<div class="ui orange basic left pointing label m-text-thin m-padded-tb-mini">原创</div>
						</a>
						<a href="" class="item" target="_blank">
							<span>
								<i class="mini teal circle icon"></i> 关于刻意练习的清单
								<div class="ui teal basic left pointing label m-text-thin m-padded-tb-mini">9月03</div>
							</span>
							<div class="ui orange basic left pointing label m-text-thin m-padded-tb-mini">原创</div>
						</a>
					</div>
				<h2 class="ui aligned center header">2019</h2>
						<div class="ui fluid vertical menu">
							<a href="" class="item" target="_blank">
								<span>
									<i class="mini teal circle icon"></i> 关于刻意练习的清单
									<div class="ui teal basic left pointing label m-text-thin m-padded-tb-mini">9月03</div>
								</span>
								<div class="ui orange basic left pointing label m-text-thin m-padded-tb-mini">原创</div>
							</a>
							<a href="" class="item" target="_blank">
								<span>
									<i class="mini teal circle icon"></i> 关于刻意练习的清单
									<div class="ui teal basic left pointing label m-text-thin m-padded-tb-mini">9月03</div>
								</span>
								<div class="ui orange basic left pointing label m-text-thin m-padded-tb-mini">原创</div>
							</a>
							<a href="" class="item" target="_blank">
								<span>
									<i class="mini teal circle icon"></i> 关于刻意练习的清单
									<div class="ui teal basic left pointing label m-text-thin m-padded-tb-mini">9月03</div>
								</span>
								<div class="ui orange basic left pointing label m-text-thin m-padded-tb-mini">原创</div>
							</a>
							<a href="" class="item" target="_blank">
								<span>
									<i class="mini teal circle icon"></i> 关于刻意练习的清单
									<div class="ui teal basic left pointing label m-text-thin m-padded-tb-mini">9月03</div>
								</span>
								<div class="ui orange basic left pointing label m-text-thin m-padded-tb-mini">原创</div>
							</a>
						</div>

			</div>
		</div>


		<!-- 底部 -->
		<div th:replace="~{commons/common::footer}"></div>

		<th:block th:replace="~{commons/common::script}"/>

		<script>
			$('.menu.toggle').click(function() {
				$('.m-item').toggleClass('m-mobile-hide');
			});
		</script>

	</body>
</html>
